{% extends 'html_base.jinja2' %}

{% block title %}
    首页
{% endblock %}

{% block _content %}
    <div class="header">
		<div class="login_and_register">
			<a href="{{ url('login') }}">登录</a>
			<a href="{{ url('register') }}">注册</a>
		</div>
	</div>
    <div id="main">
        <div id="oj_name">
            <p id="en">QUST Online Judge For SQL</p>
            <p id="zh">青岛科技大学数据库在线评测系统</p>
	    </div>
	</div>
{% endblock %}