{% extends 'base.jinja2' %}

{% block css %}
    <style>
        .problem_submission_list .td_title{
            cursor:pointer;
            width:80%;
            text-align:left;
            padding-left: 20px;
            color: #4183c4;
        }
        .problem_submission_list .problem {
            padding:5px 15px;
            height: 40px;
        }
        .problem_submission_list .problem:hover {
            background-color: #37393708;
        }
    </style>
{% endblock %}

{% block title %}
    测试总览
{% endblock %}

{% block content %}
    <div class="problem_title_field">
        <h1>{{ contest.title[:30] }}{% if contest.title | length > 30 %}...{% endif %}</h1>
    </div>
    <div class="problem_info_field">
        <div class="problem_navbar_field">
            <a class="problem_navbar" href="{{ url('contest:dashboard', args=(contest.id, )) }}">总览</a>
            <a class="problem_navbar" href="{{ url('contest:my_submissions', args=(contest.id, )) }}">我的提交</a>
            <a class="problem_navbar" href="{{ url('contest:submissions', args=(contest.id, )) }}">所有提交</a>
            {% if user.is_superuser or contest.status == 1 %}
                <a class="problem_navbar" href="{{ url('contest:standings', args=(contest.id, )) }}">榜单</a>
            {% endif %}
            {% if user.is_superuser %}
                <a class="problem_navbar" href="{{ url('contest:standings_to_excel', args=(contest.id, )) }}">导出榜单</a>
            {% endif %}
        </div>
        <div class="problem_navbar_fun_field">
            {% if user.is_superuser %}
                <a class="problem_navbar" href="{{ url('contest:create_standings', args=(contest.id, )) }}">生成榜单</a>
            {% endif %}
            {% if user.is_superuser or contest.status == 1 %}
                <a class="problem_navbar" href="{{ url('contest:submission_peak', args=(contest.id, )) }}">可视化分析</a>
            {% endif %}
        </div>
        <table class="problem_submission_list">
            <tr>
                <th style="width:8%; height: 50px">#</th>
                <th style="width:92%">题目名称</th>
{#                <th style="width:12%">通过人数</th>#}
            </tr>
            {% for ele in result %}
                <tr class="problem">
                    <td>{{ loop.index }}</td>
                    <td class="td_title" onclick="location.href='{{ url('contest:contest_problem', args=(contest.id, ele.id, )) }}?index={{ loop.index }}';">{{ ele.title }}</td>
{#                    <td>{{ ele.total }}</td>#}
                </tr>
            {% endfor %}
        </table>
    </div>
    <div class="problem_other_info_field">
        <div class="problem_other_info" style="font-weight: bolder">
            <h4>&nbsp&nbsp→&nbsp&nbsp注意事项</h4>
            <div style="width: 90%; margin-left: 5%; margin-top: 6px; margin-bottom: 6px">
                每题最大尝试次数: <span style="color: red">{{ contest.max_try }}</span>；
                使用每题「<span style="color: red">{% if contest.is_best_counts %} 最高成绩 {% else %} 平均成绩 {% endif %}</span>」作为最终成绩;
                当前每道题的分数为:&nbsp<span style="color: green">{% if contest.is_time_score %}{{ problem_score }}{% else %}100{% endif %}</span>&nbsp分。<br>
            </div>
        </div>
        <div style="width: 100%; height: 20px"></div>
        <div class="problem_other_info">
            <h4>&nbsp&nbsp→&nbsp&nbsp题目跳转</h4>
            {% for ele in result %}
                <p><a class="gogo" href="{{ url('contest:contest_problem', args=(contest.id, ele.id, )) }}?index={{ loop.index }}">{{ loop.index }}. {{ ele.title[:10] }}{% if ele.title | length > 10 %}...{% endif %}</a></p>
            {% endfor %}
        </div>
    </div>
    <div style="width: 100%; height: 0px; margin: 0; display:inline-block;"></div>
{% endblock %}