{% extends 'base.jinja2' %}

{% block title %}
    榜单
{% endblock %}

{% block content %}
    <div style="text-align: center; width: 80%; height:10px; margin: 0;"><h1>{{ contest.title[:20] }}{% if contest.title | length > 30 %}...{% endif %}&nbsp&nbsp榜单</h1></div>
    <div class="problem_submissions_field">
        <table class="problem_submission_list">
            <tr>
                <th style="width: 10%">排名</th>
                <th style="width: 70%">用户</th>
                <th style="width: 10%">满分题数</th>
                <th style="width: 10%">总分</th>
            </tr>
            {% for ele in result %}
                <tr>
                    <td>{{ loop.index }}</td>
                    <td class="submit_username">{{ ele.user.username }}</td>
                    <td style="font-weight: bolder">{{ ele.total }}</td>
                    <td style="font-weight: bolder; color: #009A08">{{ ele.score | round(2) }}</td>
                </tr>
            {% endfor %}
        </table>
    </div>
    <div class="problem_other_info_field">
        <div class="problem_navbar">
            <p><a href="{{ url('contest:dashboard', args=(contest.id, )) }}">总览</a></p>
            <p><a href="{{ url('contest:my_submissions', args=(contest.id, )) }}">我的提交</a></p>
            <p><a href="{{ url('contest:submissions', args=(contest.id, )) }}">所有提交</a></p>
            <p><a href="{{ url('contest:standings', args=(contest.id, )) }}">榜单</a></p>
            {% if user.is_superuser %}
                <p><a href="{{ url('contest:standings_to_excel', args=(contest.id, )) }}">导出榜单</a></p>
            {% endif %}
        </div>
    </div>
    <div style="width: 100%; height: 0px; margin: 0; display:inline-block;"></div>
{% endblock %}