{% extends 'base.jinja2' %}

{% block title %}
    榜单
{% endblock %}

{% block content %}
    <div class="problem_title_field">
        <h1>{{ contest.title[:30] }}{% if contest.title | length > 30 %}...{% endif %}</h1>
    </div>
    <div class="problem_submissions_field">
        <div class="problem_navbar_field">
            <a class="problem_navbar" href="{{ url('contest:dashboard', args=(contest.id, )) }}">总览</a>
            <a class="problem_navbar" href="{{ url('contest:my_submissions', args=(contest.id, )) }}">我的提交</a>
            <a class="problem_navbar" href="{{ url('contest:submissions', args=(contest.id, )) }}">所有提交</a>
            {% if user.is_superuser or contest.status == 1 %}
                <a class="problem_navbar" href="{{ url('contest:standings', args=(contest.id, )) }}">榜单</a>
            {% endif %}
            {% if user.is_superuser %}
                <a class="problem_navbar" href="{{ url('contest:standings_to_excel', args=(contest.id, )) }}">导出榜单</a>
            {% endif %}
        </div>
        <div class="problem_navbar_fun_field">
            {% if user.is_superuser %}
                <a class="problem_navbar" href="{{ url('contest:create_standings', args=(contest.id, )) }}">生成榜单</a>
            {% endif %}
            {% if user.is_superuser or contest.status == 1 %}
                <a class="problem_navbar" href="{{ url('contest:submission_peak', args=(contest.id, )) }}">可视化分析</a>
            {% endif %}
        </div>
        <div style="width: 100%; height:auto; overflow:scroll;">
            <table class="problem_submission_list" style="width: {{ width }}px;text-align:center">
                <tr style="height: 45px">
                    <th style="width: 90px">排名</th>
                    <th style="width: 170px">用户</th>
                    <th style="width: 110px">姓名</th>
                    <th style="width: 110px">满分题数</th>
                    <th style="width: 90px">总分</th>
                    {% for idx in index %}
                        <th style="width: 120px">{{ loop.index }}</th>
                    {% endfor %}
                </tr>
                {% for ele in rank_list %}
                    <tr style="height: 50px">
                        <td>{{ loop.index }}</td>
                        <td class="submit_username" style="width: 170px">{{ ele[0][0] }}</td>
                        {% if ele[0][1] %}
                            <td class="submit_username" style="width: 110px">{{ ele[0][1] }}</td>
                        {% else %}
                            <td class="submit_username" style="width: 110px">无</td>
                        {% endif %}
                        <td style="font-weight: bolder; width: 110px;">{{ ele[1] }}</td>
                        <td style="font-weight: bolder; color: #009A08; width: 90px;">{{ ele[2] | round(2) }}</td>
                        {% for detail in ele[3] %}
                            <td style="width: 120px; color: #777777">
                                <span style="color: {% if detail > 0 %}#009A08{% else %}#D92B2F{% endif %}; font-weight: bold">
                                    {{ detail | round(2) }}
                                </span>
                                (<span style="color: #2987CC; font-weight: bold;">+{{ ele[4][loop.index0] }}</span>)<br/>
                                ({{ (detail + ele[5][loop.index0]) | round(1) }} - {{ ele[5][loop.index0] | round(1) }})
                            </td>
                        {% endfor %}
                    </tr>
                {% endfor %}
            </table>
        </div>
    </div>
    <div style="width: 100%; height: 0px; margin: 0; display:inline-block;"></div>
{% endblock %}