{% extends 'base.jinja2' %}

{% block title %}
    榜单
{% endblock %}

{% block content %}
    <div class="problem_title_field">
        <h1>{{ contest.title[:30] }}{% if contest.title | length > 30 %}...{% endif %}</h1>
    </div>
    <div class="problem_submissions_field">
        <div class="problem_navbar_field">
            <a class="problem_navbar" href="{{ url('contest:dashboard', args=(contest.id, )) }}">总览</a>
            <a class="problem_navbar" href="{{ url('contest:my_submissions', args=(contest.id, )) }}">我的提交</a>
            <a class="problem_navbar" href="{{ url('contest:submissions', args=(contest.id, )) }}">所有提交</a>
            {% if user.is_superuser %}
                <a class="problem_navbar" href="{{ url('contest:standings', args=(contest.id, )) }}">榜单</a>
            {% endif %}
            {% if user.is_superuser %}
                <a class="problem_navbar" href="{{ url('contest:standings_to_excel', args=(contest.id, )) }}">导出榜单</a>
            {% endif %}
        </div>
        <div class="problem_navbar_fun_field">
            {% if user.is_superuser %}
                <a class="problem_navbar" href="{{ url('contest:submission_peak', args=(contest.id, )) }}">可视化分析</a>
            {% endif %}
        </div>
        <table class="problem_submission_list">
            <tr>
                <th style="width: 10%">排名</th>
                <th style="width: 35%">用户</th>
                <th style="width: 35%">姓名</th>
                <th style="width: 10%">满分题数</th>
                <th style="width: 10%">总分</th>
            </tr>
            {% for ele in result %}
                <tr>
                    <td>{{ loop.index }}</td>
                    <td class="submit_username">{{ ele.user.username }}</td>
                    {% if ele.user.name %}
                        <td class="submit_username">{{ ele.user.name }}</td>
                    {% else %}
                        <td class="submit_username">无</td>
                    {% endif %}
                    <td style="font-weight: bolder">{{ ele.total }}</td>
                    <td style="font-weight: bolder; color: #009A08">{{ ele.score | round(2) }}</td>
                </tr>
            {% endfor %}
        </table>
    </div>
    <div style="width: 100%; height: 0px; margin: 0; display:inline-block;"></div>
{% endblock %}