.problem_title_field {
    width: 95%;
    margin-left: 5%;
    margin-top: 3%;
    /*border: 2px solid red;*/
}

.problem_title_field .problem_title {
    /*border: 2px solid red;*/
    margin-top: 10px;
    margin-bottom: 10px;
}

.problem_info_field {
    width: 70%;
    margin-top: 1%;
    margin-left: 5%;
    margin-bottom: 0;
    margin-right: 0;
    height: auto;
    /*border: 2px solid red;*/
    text-align: center;
    display:inline-block;
    float: left;
}

.problem_other_info_field {
    width: 18%;
    margin-top: 1%;
    margin-left: 0;
    margin-right: 5%;
    margin-bottom: 0;
    height: 500px;
    /*border: 2px solid blue;*/
    display:inline-block;
    float: right;
}

.problem_submit_field {
    width: 70%;
    height: 500px;
    margin-top: 2%;
    margin-left: 5%;
    display:inline-block;
    float: left;
    /*border: 2px solid yellow;*/
}

.problem_bottom_field {
    width: 100%;
    height: 0px;
    /*border: 2px solid blue;*/
    z-index: -10;
    display:inline-block;
    float: left;
}

.problem_navbar_field {
    width: 60%;
    margin-top: 5px;
    text-align: left;
    margin-bottom: 25px;
    display:inline-block;
    float: left;
    /*border: 2px solid red;*/
}

.problem_navbar_field .problem_navbar {
    margin-right: 10px;
    text-decoration: none;
	background-color: #617df8;
    padding: 5px 18px;
    border-style: solid;
  	border-width: 2px ;
    color: white;
    font-size: 15px;
    border-radius: 6px;
}

.problem_navbar_field .problem_navbar:hover {
    color: white;
    background-color: #4a5eba;
    transition: all .3s ease;
}

.problem_navbar_fun_field {
    width: 40%;
    margin-top: 5px;
    text-align: right;
    margin-bottom: 25px;
    display:inline-block;
    float: right;
}

.problem_navbar_fun_field .problem_navbar {
    margin-left: 10px;
    text-decoration: none;
	background-color: #617df8;
    padding: 5px 18px;
    border-style: solid;
  	border-width: 2px ;
    color: white;
    font-size: 15px;
    border-radius: 6px;
}

.problem_navbar_fun_field .problem_navbar:hover {
    color: white;
    background-color: #4a5eba;
    transition: all .3s ease;
}

.problem_navbar_fun_field .problem_right_navbar {
    margin-left: 10px;
    text-decoration: none;
	background-color: #EB501C;
    padding: 5px 18px;
    border-style: solid;
  	border-width: 2px ;
    color: white;
    font-size: 15px;
    border-radius: 6px;
}

.problem_navbar_fun_field .problem_right_navbar:hover {
    color: white;
    background-color: #D32F2F;
    transition: all .3s ease;
}

.problem_label_field {
    width: 100%;
    text-align: left;
    display:inline-block;
    float: left;
}

.problem_label_field .problem_label {
    /*border: 2px solid red;*/
    margin-top: 0px;
    margin-bottom: 2px;
    font-size: 15px;
}

.problem_info_field .problem_description {
    /*border: 2px solid red;*/
    margin-top: 8px;
    margin-bottom: 0px;
    text-align: left;
    font-size: 15px;
    font-family: Monaco;
    white-space: pre-wrap;
    word-wrap: break-word;
    display:inline-block;
    float: left;
}

.problem_submit_field .problem_submit_label {
    /*border: 2px solid red;*/
    margin-top: 0px;
    margin-bottom: 5px;
    font-size: 20px;
}

.problem_submit_field .code_textarea {
	resize: none;
	width: 98%;
	height: 320px;
	padding-top: 1.5%;
	padding-left: 1.5%;
	margin: 0;
	font-size: 15px;
    font-family: Monaco;
	color: black;
	background-color: white;
	border-style: solid;
	border-color: #6495ED;
	border-width: 2px;
	border-radius: 5px;
	position: relative;
}

.CodeMirror {
	resize: none;
	width: 98%;
	height: 370px;
    font-size: 15px;
    font-family: Monaco;
    border: 2px solid #6495ED;
    border-radius: 5px;
    position: relative;
}

.problem_submit_button {
	top: 10px;
	left: 90%;
	width: 80px;
	height: 38px;
	font-size: 15px;
	color: white;
	background-color: #2DB84B;
	border-style: solid;
	border-color: #2DB84B;
	border-width: 1px;
	border-radius: 5px;
	position: relative;
}

.problem_submit_button:hover{
	font-size: 15px;
	color: white;
	background-color: #2DA04B;
	border-style: solid;
	border-color: #2DA04B;
    transition: all .3s ease;
}

.problem_other_info_field .problem_other_info {
    width: 100%;
    border-style: solid;
  	border-width: 2px ;
  	border-color: #6495ED;
	border-radius: 5px;
    text-align: left;
    color: #4a5eba;
}

.problem_other_info_field .problem_other_info h4{
    margin-top: 5px;
    margin-bottom: 1px;
    padding-bottom: 5px;
    text-align: left;
    border-bottom: 1px solid #778899;
}

.problem_other_info_field .problem_other_info p{
    height: 27px;
    margin-top: 0px;
    margin-bottom: 0px;
    padding-bottom: 0px;
    padding-top: 5px;
    color: white;
    background-color: #617df8;
    border-radius: 5px;
    border-color: white;
    border-style: solid;
    border-width: 1px;
}

.problem_other_info_field .problem_other_info p:hover{
    color: white;
    background-color: #4169E1;
    transition: all .3s ease;
}

.problem_other_info_field .problem_other_info .gogo {
    text-decoration: none;
    margin-left: 10px;
    color: white;
}